* {
    padding: 0;
}

#video-fondo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.titulo {
    margin-left: 80px;
}

.section_datos {
    border-top-right-radius: 4em;
    border-top-left-radius: 1em;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 450px;
    height: 420px;
    background-color: rgb(73, 128, 230);
    margin: auto;
    border-radius: 4;
    border-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.section_examen {
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 450px;
    height: 280px;
    background-color: rgb(73, 128, 230);
    margin: auto;
    border-radius: 4;
    border-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.section_mas_datos {
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 5em;
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 450px;
    height: 350px;
    background-color: rgb(73, 128, 230);
    margin: auto;
    border-radius: 4;
    border-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.bloques {
    padding-top: 20px;
}

.form_datos {
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 320px;
    background-color: rgb(120, 178, 253);
}

.form_examen {
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 190px;
    background-color: rgb(120, 178, 253);
}

.form_mas_datos {
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 235px;
    background-color: rgb(120, 178, 253);
}

.informacion {
    padding: 35px;
}


.inputs {
    background-color: rgb(227, 247, 255);
    padding: 0px 10px 0px 10px;
    width: 275px;
    height: 30px;
    margin-top: 3px;
    margin-left: 25px;
    border: solid thin rgb(227, 247, 255);
	border-radius: 1em
}

.informacion_botones {
    font-style: italic;
    padding: 0px 0px 0px 20px;
}

.boton {
    margin-top: 5px;
    margin-left: 35px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

.boton_adjuntar {
    color: rgb(104, 104, 104);
    background-color: rgb(227, 247, 255);
    border-radius: 1em;
    border: solid thin rgb(227, 247, 255);
    margin-left: 35px;
    margin-top: 5px;
    height: 25px;
    width: 100px;
}

.input_obserbaciones {
    color: rgb(104, 104, 104);
    background-color: rgb(227, 247, 255);
    border-radius: 1em;
    border: solid thin rgb(227, 247, 255);
    padding: 0px 10px 0px 10px;
    margin-left: 25px;
    margin-top: 5px;
    height: 100px;
    width: 275px;
    resize: none;
}

.boton:active {
    background-color: #000;
}
